body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:link {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.top--row {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.top--row .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    padding: 1.5rem 3rem 0 3rem;
}

.top--row .head p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    margin: 0;
}

.top--row .head ul {
    display: flex;
    gap: 32px;
}

.container--1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    height: 500px;
}


.container--1 .center--row {
    display: flex;
    width: 1000px;
    padding: 0 3rem;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.center--row .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center--row .text .title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.center--row .text .para {
    font-size: 18px;
    color: #e5e7eb;
}

.center--row .text .btn {
    align-self: flex-start;
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
    border-style: none;
    border-radius: 6px;
    background-color: #3882f6;
    padding: .5rem .5rem;
    margin: 12px;
}

.center--row .pic img {
    filter: drop-shadow(0 0 18px #111111);
    border-style: none;
    border-radius: 4px;
    width: 450px;
    margin-left: 0;
    margin-right: 0;
}

.container--2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container--2 .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 50px 0;
}

.container--2 .content {
    display: flex;
    width: 1000px;
    margin-bottom: 100px;
    gap: 32px;
}

.container--2 .content div .img--row {
    height: 150px;
    width: 150px;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

.container--2 .content div .text {
    font-size: 16px;
    color: #1F2937;
    padding-top: .5rem;
    margin: 0 32px;
}

.container--3 {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--3 .content {
    display: flex;
    flex-direction: column;
    width: 750px;
}
.container--3 .quote {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.container--3 .author {
    font-size: 22px;
    font-weight: bold;
    color: #1F2937;
    align-self: flex-end;
    margin-top: 18px;
    padding-right: 48px;
}

.container--4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.container--4 .content {
    display: flex;
    width: 840px;
    background-color: #3882f6;
    padding: 28px 62px;
    border-radius: 8px;
}

.container--4 .content .text {
    flex: 2 1 auto;
    padding: 0 2rem;
}
.container--4 .content .text .title {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 0;
}

.container--4 .content .text .para {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: .5rem;
}

.container--4 .content .btn {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
    border-style: none;
    border: 2px solid #e5e7eb;
    border-radius: 6px;
    background-color: #3882f6;
    padding: .5rem .5rem;
    margin: 2rem;
}

footer {
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
    padding: 2rem;
}