body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:link {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.top--row {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 0 4rem;
}

.container--1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 0 8rem;
    height: 60vh;
}

.top--row p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.top--row ul {
    display: flex;
    gap: 32px;
}

.container--1 .center--row {
    display: flex;
    width: 1000px;
    gap: 5rem;
}

.center--row .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center--row .text .title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.center--row .text .para {
    font-size: 18px;
    color: #e5e7eb;
}

.center--row .text .btn {
    align-self: flex-start;
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
    border-style: none;
    border-radius: 6px;
    background-color: #3882f6;
    padding: .5rem .5rem;
    margin: 12px;
}

.center--row .pic p {
    font-size: 18px;
    color: #e5e7eb;
}

.center--row .pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center--row .pic img {
    filter: drop-shadow(0 0 18px #111111);
}